body, html {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.list {
  position: relative;
  overflow: hidden;
  width: 320px;
}

.list__inner {
  height: 568px;
  overflow-y: scroll;
}

.list-group {
  position: relative;
  padding-top: 26px;
}

.list-group_locked {
  position: static;
}

.list__container,
.list-group__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-group__label {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background: rgba(185,192,200,1);
  background: linear-gradient(0deg, rgba(185,192,200,1) 0%, rgba(137,146,156,1) 100%);
  padding-left: 10px;
  line-height: 150%;
  border: 2px solid #b4b6bc;
  border-top-color: #868c95;
  border-left: none;
  border-right: none;
  height: 26px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  will-change: transform;
}

.list-group__item {
  padding: 10px;
  font-size: 120%;
  line-height: 150%;
  border: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
}

.list-group__item:first-child
{
  border-top: none;
}

.list-group__item:last-child
{
  border-bottom: none;
}